h2 {
    text-align: center;
    color: darkslategray;
    margin: 20px 0;
}

.movies-list-section{
    
    margin-left: 20%;
    width: 60%;
   
    ul {
        background-color: azure;
       font-size: 24px;
    }
}

