.movie-details-section {
    margin-left: 20%;
    margin-bottom: 5%;
    width: 60%;
    background-color: azure;
    div {
        padding: 1% 3%;
        
    }
    h3 {
        text-align: center;
        color: darkslategray;
        margin: 20px 0;
    }
    p {
        margin: 10px;
    }
}

.return-link {
    padding-right:4%;
    font-size: 20px;
    text-align: right;

}